<template>
  <cdx-field
    class=""
    :is-fieldset="true"
    :status="statusDateRange"
    :messages="errorDateRangeMessage"
  >
    <div class="grid lg:grid-cols-2 grid-cols-1 gap-4">
      <cdx-field>
        <template #label>
          À partir du
        </template>

        <cdx-text-input
          v-model="startDate"
          aria-label="Date de début de la recherche"
          input-type="date"
          name="startDate"
          :max="dayjs().format('YYYY-MM-DD')"
          :status="statusDateRange"
        />

      </cdx-field>
      <cdx-field>
        <template #label>
          Jusqu'au
        </template>

        <cdx-text-input
          v-model="endDate"
          aria-label="Date de fin de la recherche"
          input-type="date"
          name="endDate"
          :max="dayjs().format('YYYY-MM-DD')"
          :status="statusDateRange"
        />
      </cdx-field>
    </div>
    <template #help-text>
        Appuyez sur l'icône du calendrier pour choisir une date ou saisissez-la manuellement. La période de recherche par défaut est fixée aux 14 derniers jours et peut couvrir au total 3 mois au maximum. Les dates sont en <a href="https://www.timeanddate.com/worldclock/converter.html?p1=1440&p2=tz_cet&p3=tz_cest&p4=165" class="hover:underline" rel="noopener noreferrer" target="_blank">temps universel coordonné (UTC)</a>.
    </template>
  </cdx-field>
</template>

<script lang="ts" setup>
import {
  CdxField,
  CdxTextInput,
type ValidationMessages
} from '@wikimedia/codex';
import { ref, computed, watch } from 'vue'
import dayjs from 'dayjs';
import utc from 'dayjs/plugin/utc.js';

dayjs.extend(utc);

// Date section
const startDate = defineModel<string>('startDate', { default: dayjs().subtract(14, 'days').format('YYYY-MM-DD') });
startDate.value = dayjs().subtract(1, 'month').format('YYYY-MM-DD');
const endDate = defineModel<string>('endDate', { default: dayjs().format('YYYY-MM-DD') });
endDate.value = dayjs().format('YYYY-MM-DD');
const errorDateRangeMessage = ref<ValidationMessages>({});
const statusDateRange = defineModel<"error" | "default" | "warning" | "success" | undefined>('statusDateRange', { default: 'default' });

watch([startDate, endDate], () => {
  isStartDateAfterEndDate.value;
});

const isStartDateAfterEndDate = computed(() => {
  if (startDate.value && endDate.value) {
    if (new Date(startDate.value) > new Date(endDate.value)) {
      errorDateRangeMessage.value = { error: "La date de début ne doit pas être après la date de fin" };
      statusDateRange.value = 'error';
      return true;
    } else if (dayjs(endDate.value).diff(dayjs(startDate.value), 'month', true) > 3) {
      errorDateRangeMessage.value = { error: "La période de recherche ne doit pas dépasser 3 mois" };
      statusDateRange.value = 'error';
      return true;
    } else {
      errorDateRangeMessage.value = { error: "" };
      statusDateRange.value = 'default';
      return false;
    }
  }

  errorDateRangeMessage.value = { error: "" };
  statusDateRange.value = 'default';
  return false;
});

</script>