<template>
  <cdx-field class="">
    <template #label>
      Édition linguistique
    </template>

    <cdx-lookup
      v-model:selected="editionSelected"
      :menu-items="menuItems"
      :menu-config="{ visibleItemLimit: 4, boldLabel: true }"
      aria-label="Choix de l'édition linguistique"
      :clearable="true"
      :start-icon="cdxIconLanguage"
      @input="lookupOnInput"
      @update:selected="lookupUpdateSelected"
      name="lang"
      autocomplete="off"
    >
      <template #no-results>
        Pas d'édition correspondante.
      </template>
    </cdx-lookup>
  </cdx-field>
  <cdx-field
    class=""
    optional-flag="(optionnel)"
  >
    <template #label>
      Filtrer par balise
    </template>


    <cdx-select
      class="w-full"
      v-model:selected="selectedTag"
      :menu-items="tagItems"
      :disabled="selectTagElementDisabled"
      :menu-config="{ visibleItemLimit: 6 }"
      default-label="Choisir une balise"
      name="tag"
    />
    <cdx-progress-bar
      :inline="true"
      v-show="showProgressBarLoadingTags"
    />
  </cdx-field>
</template>

<script lang="ts" setup>
import {
  CdxField,
  CdxLookup,
  CdxSelect,
  CdxProgressBar
} from '@wikimedia/codex';
import { cdxIconLanguage } from '@wikimedia/codex-icons';
import type { Edition } from '../../../types/types';
import { ref } from 'vue'

const editions = await useFetch('/api/editions').then(response => response.data.value as Edition[]);
const menuItems = ref(editions);
const editionSelected = defineModel<string>('editionSelected', { default: '' });
const selectedTag = defineModel<string>('selectedTag', { default: '' });
const tagItems = ref([] as { value: string }[]);
const selectTagElementDisabled = ref(true);
const showProgressBarLoadingTags = ref(false);

function lookupOnInput(value: string) {
  value = value.toLowerCase();
  if (value) {
    const filteredByLabel = editions.filter((item) =>
      item.label.toLowerCase().startsWith(value)
    );

    const filteredByValue = editions.filter((item) =>
      item.value.toLowerCase().startsWith(value)
    );

    menuItems.value = [...new Set([...filteredByLabel, ...filteredByValue])];

  }
}

async function lookupUpdateSelected(value: string) {
  if (!value) {
    selectTagElementDisabled.value = true;
    tagItems.value = [];
    return;
  } else {
    selectTagElementDisabled.value = true;
    showProgressBarLoadingTags.value = true;
  }
  let prefix = value.split('.')[0];

  tagItems.value = await fetch(`/api/tags/${prefix}`)
    .then(response => response.json())
    .then(data => {
      return data.map((item: { name: string; }) => {
        return { value: item.name };
      });
    }).then(data => {
      selectTagElementDisabled.value = false;
      showProgressBarLoadingTags.value = false;
      return data;
    });
}
</script>

<style></style>