<template>
  <cdx-field
    class="my-4"
    :status="searchElementStatus"
    :messages="errorSearchInputMessage"
  >

    <cdx-text-input
      v-model.lazy="searchElement"
      placeholder="Termes de la recheche"
      aria-label="Termes de la recherche de commentaires de contributions"
      :clearable="true"
      :start-icon="cdxIconSearch"
      name="search"
      aria-required="true"
      :update:modelValue="charsRemainingCalc"
      autocomplete="off"
      required
    />
    <template #help-text>
      {{ charsRemaining < 0 ? '0' : charsRemaining }} {{ charsRemaining === 1 ? 'caractère restant' : 'caractères restants' }}
    </template>
  </cdx-field>
</template>

<script lang="ts" setup>
import {
  CdxField,
  CdxTextInput,
  type ValidationMessages,
} from '@wikimedia/codex';
import { cdxIconSearch } from '@wikimedia/codex-icons';
import { ref } from 'vue'

const MAX_MESSAGE_LENGTH = 255;
const searchElement = defineModel<string>('searchElement', { required: true });
const errorSearchInputMessage = ref<ValidationMessages>({});
const searchElementStatus = defineModel<"error" | "default" | "warning" | "success" | undefined>('searchElementStatus', { default: 'default' });

const charsRemainingCalc = computed(() => {
  if (searchElement.value.length > MAX_MESSAGE_LENGTH) {
    errorSearchInputMessage.value = {
      error: 'Un commentaire de contribution est limité à 255 caractères'
    }
    searchElementStatus.value = 'error';
  } else {
    errorSearchInputMessage.value = {};
    searchElementStatus.value = 'default';
  }
});

const charsRemaining = computed(() => {
  return MAX_MESSAGE_LENGTH - searchElement.value.length;
});
</script>