<template>
  <header class="bg-gradient-to-b from-blue-200 via-blue-100 to-stone-100 border-b border-gray-200">
    <div class="container px-4 sm:mx-auto flex justify-end flex-col h-full">
      <h1 class="mt-16 mb-6 text-7xl tracking-tight">
        <a href="/">
          Hitaden
        </a>
      </h1>
    </div>
  </header>

  <div class="container px-4 sm:mx-auto">
    <main class="mt-8">
      <NuxtPage />
    </main>
    <Footer />
  </div>
</template>

<script setup lang="ts">
useHead({
  bodyAttrs: {
    class: 'bg-stone-50'
  },
})
</script>
