<template>
    <hr class="mt-8 h-px bg-gray-200 border-0">
    <footer class="rounded-lg">
        <div class="w-full mx-auto max-w-screen-xl py-4 md:flex md:items-center md:justify-between">
            <span class="text-sm text-gray-500 sm:text-center">Propulsé sur Toolforge avec les <a
                    class="hover:underline"
                    href="https://wikitech.wikimedia.org/wiki/Help:Cloud_Services_introduction"
                    rel="noopener noreferrer"
                >Wikimedia Cloud Services
                </a> - <a
                    class="hover:underline"
                    href="/about"
                >Mentions légales</a> - <a
                    class="hover:underline"
                    rel="noopener noreferrer"
                    href="https://phabricator.wikimedia.org/maniphest/task/edit/form/1/?title=Titre%20synthétique%20et%20descriptif%20du%20problème&projects=Hitaden&description=Ne%20décrivez%20pas%20une%20tentative%20de%20solution,%20mais%20plutôt%20votre%20problème%20réel.">
                Signaler un problème</a>
                - <a
                    class="hover:underline"
                    rel="noopener noreferrer"
                    href="https://gitlab.wikimedia.org/toolforge-repos/hitaden"
                >Code source</a>
            </span>
        </div>
    </footer>
</template>