<template>
  <v-chart
    class="chart flex h-96"
    :option="option"
    :autoresize=true
  />
</template>

<script lang="ts" setup>
import { use } from 'echarts/core';
import { HeatmapChart } from 'echarts/charts';
import VChart from "vue-echarts";
import {
    TitleComponent,
    TooltipComponent,
    GridComponent,
    VisualMapComponent
} from 'echarts/components';
import { CanvasRenderer } from 'echarts/renderers';

use([
    TitleComponent,
    TooltipComponent,
    GridComponent,
    VisualMapComponent,
    HeatmapChart,
    CanvasRenderer
]);

const option = shallowRef({});
const datas = defineProps({ data: Object });
const hours = [
  '0', '1', '2', '3', '4', '5', '6',
  '7', '8', '9', '10', '11',
  '12', '13', '14', '15', '16', '17',
  '18', '19', '20', '21', '22', '23'
];
const days = [
  'Lundi', 'Mardi', 'Mercredi',
  'Jeudi', 'Vendredi', 'Samedi', 'Dimanche'
];

function transformData(jsonData: any) {
  const contributions: any = {};

  if (!jsonData) {
    return [];
  }

  if (!jsonData.length) {
    return [];
  }

  jsonData.forEach((entry: any) => {
    const timestamp = entry.rev_timestamp;
    const year = parseInt(timestamp.substring(0, 4), 10);
    const month = parseInt(timestamp.substring(4, 6), 10) - 1; // Months are 0-indexed in JavaScript
    const day = parseInt(timestamp.substring(6, 8), 10);
    const hour = parseInt(timestamp.substring(8, 10), 10);
    const minute = parseInt(timestamp.substring(10, 12), 10);
    const second = parseInt(timestamp.substring(12, 14), 10);


    const date = new Date(Date.UTC(year, month, day, hour, minute, second));
    const dayOfWeek = date.getUTCDay(); // 0 for Sunday
    const hourOfDay = date.getUTCHours();

    if (!contributions[dayOfWeek]) {
      contributions[dayOfWeek] = {};
    }

    if (!contributions[dayOfWeek][hourOfDay]) {
      contributions[dayOfWeek][hourOfDay] = 0;
    }

    contributions[dayOfWeek][hourOfDay]++;
  });

  const data = [];
  for (const dayOfWeek in contributions) {
    for (const hourOfDay in contributions[dayOfWeek]) {
      const x = parseInt(hourOfDay, 10); 
      const y = parseInt(dayOfWeek, 10); 
      const value = contributions[dayOfWeek][hourOfDay];

      data.push([x, y, value]);
    }
  }

  return data;
}

onMounted(() => {
  const data = transformData(datas.data);
  option.value = {
    title: {
      top: 0,
      text: 'Nombre de contributions par jour et heure',
    },
    tooltip: {
      position: 'top'
    },
    grid: {
      width: 'auto',
      height: 'auto',
    },
    xAxis: {
      type: 'category',
      data: hours,
      splitArea: {
        show: true
      }
    },
    yAxis: {
      type: 'category',
      data: days,
      splitArea: {
        show: true
      }
    },
    visualMap: {
      min: 0,
      max: data.reduce((max: number, current: number[]) => Math.max(max, current[2]), 0),
      calculable: true,
      orient: 'horizontal',
      left: 'center',
      bottom: 0,
      inRange: {
        color: ['#E0F3FF', '#0066CC'], // Blue gradient color scheme
        symbolSize: [100, 100]
      }
    },
    series: [
      {
        name: 'Nombre de contributions',
        type: 'heatmap',
        data: data,
        label: {
          show: true
        },
        emphasis: {
          itemStyle: {
            shadowBlur: 10,
            shadowColor: 'rgba(0, 0, 0, 0.8)'
          }
        }
      }
    ]
  };
});
</script>