<template>
  <v-chart
    class="chart flex h-96"
    :option="option"
    :autoresize=true
  />
</template>

<script setup lang="ts">
import { use } from 'echarts/core';
import VChart from "vue-echarts";
import { LineChart, BarChart } from 'echarts/charts';
import {
  TitleComponent,
  TooltipComponent,
  GridComponent
} from 'echarts/components';
import { CanvasRenderer } from 'echarts/renderers';

use([
  TitleComponent,
  TooltipComponent,
  GridComponent,
  LineChart,
  BarChart,
  CanvasRenderer
]);

const datas = defineProps({ data: Object });
const option = ref({});

function transformData(jsonData: any) {
  const revisionsOverTime: any = {};
  const contributionsByDay: any = {};

  if (!jsonData || jsonData.length === 0) {
    return { xAxisData: [], lineData: [], barData: [] };
  }

  let cumulativeRevisions = 0;

  jsonData.forEach((entry: any) => {
    const timestamp = entry.rev_timestamp;
    const year = parseInt(timestamp.substring(0, 4), 10);
    const month = parseInt(timestamp.substring(4, 6), 10) - 1; // Months are 0-indexed in JavaScript
    const day = parseInt(timestamp.substring(6, 8), 10);
    const hour = parseInt(timestamp.substring(8, 10), 10);
    const minute = parseInt(timestamp.substring(10, 12), 10);
    const second = parseInt(timestamp.substring(12, 14), 10);

    const date = new Date(Date.UTC(year, month, day, hour, minute, second));
    const formattedDate = `${year}-${date.getUTCMonth()}-${day}`;

    if (!revisionsOverTime[formattedDate]) {
      revisionsOverTime[formattedDate] = 0;
    }
    revisionsOverTime[formattedDate]++;
    cumulativeRevisions++;

    revisionsOverTime[formattedDate] = cumulativeRevisions;

    const dayOfWeek = `${year}-${date.getUTCMonth()}-${day}`;
    if (!contributionsByDay[dayOfWeek]) {
      contributionsByDay[dayOfWeek] = 0;
    }
    contributionsByDay[dayOfWeek]++;
  });

  const xAxisData = Object.keys(revisionsOverTime);
  const lineData = Object.values(revisionsOverTime);
  const barData = Object.values(contributionsByDay);

  return { xAxisData, lineData, barData };
}

onMounted(() => {
  const { xAxisData, lineData, barData } = transformData(datas.data);

  option.value = {
    title: {
      text: 'Nombre de contributions au fil des jours',
      top: 0
    },
    tooltip: {
      trigger: 'axis'
    },
    xAxis: {
      type: 'category',
      data: xAxisData
    },
    grid: {
      width: 'auto',
      height: 'auto',
    },
    yAxis: [
      {
        type: 'value',
        name: 'Contributions cumulées'
      }
    ],
    series: [
      {
        name: 'Contributions cumulées',
        type: 'line',
        data: lineData,
        yAxisIndex: 0
      },
      {
        name: 'Contributions journalières',
        type: 'bar',
        data: barData
      }
    ]
  };
});
</script>