<template>
  <section>
    <h1 class="text-2xl font-bold mb-2">Informations</h1>
    <h2 class="text-xl font-semibold mb-1">Licence</h2>
    <p class="mb-4">Sauf mention contraire, le contenu de ce site est mis à disposition selon les termes de la licence <a
        href="https://creativecommons.org/licenses/by-sa/4.0/deed.fr"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:underline text-blue-600"
      >Creative Commons Attribution - Partage dans les Mêmes Conditions 4.0 International</a>.</p>
    <h2 class="text-xl font-semibold mb-1">Hébergement</h2>
    <p class="mb-4">Ce site est hébergé sur les <a
        href="https://wikitech.wikimedia.org/wiki/Help:Cloud_Services_introduction"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:underline text-blue-600"
      >Wikimedia Cloud Services</a>.</p>

    <p class="mb-4">
      <span class="font-semibold">Wikimedia Foundation, Inc.</span><br>
      1 Montgomery Street<br>
      Suite 1600<br>
      San Francisco, California 94104<br>
      USA
    </p>

    <h2 class="text-xl font-semibold mb-1">Cookies et données personnelles</h2>
    <p>Ce site web n'utilise pas de cookies, ni ne collecte ou traite des données personnelles.</p>
  </section>
</template>