<template>
	<form @submit.prevent="handleSubmit">
		<cdx-field
			class="mb-6"
			:is-fieldset="true"
		>
			<template #label>
				Rechercher des commentaires de contributions sur Wikipédia
			</template>
			<SearchFormSearchInput
				v-model:searchElement="searchElement"
				v-model:searchElementStatus="searchElementStatus"
			/>

			<div class="grid lg:grid-cols-2 grid-cols-1 gap-4 my-4">
				<SearchFormEditionSelection
					v-model:editionSelected="editionSelected"
					v-model:selectedTag="selectedTag"
				/>
			</div>

			<SearchFormDateRange
				v-model:startDate="startDate"
				v-model:endDate="endDate"
				v-model:statusDateRange="statusDateRange"
			/>

			<div class="my-8">
				<cdx-button
					:disabled="searchButtonDisabled"
					action="progressive"
					weight="primary"
					class="flex items-center justify-center"
				>
					Rechercher
				</cdx-button>
			</div>
		</cdx-field>

		<section>
			<cdx-progress-bar
				aria-label="ProgressBar example"
				v-show="showSearchProgressBar"
			/>
			<div v-if="errorRequest" class="text-center text-xl text-gray-600">
				<p class="text-center text-xl text-gray-600">{{ content }}</p>
			</div>
			<cdx-tabs
				v-model:active="currentTab"
				:framed="true"
				v-if="fetchDone"
				class="border-2"
			>
				<cdx-tab
					v-for="( tab, index ) in tabsData"
					:key="index"
					:name="tab.name"
					:label="tab.label"
					class="my-6 px-4 min-h-[180px]"
				>
					<template v-if="tab.name === 'articles'">
						<div
							v-if="datat.length === 0"
							class="text-center text-xl text-gray-600"
						>
							<p class="text-center text-xl text-gray-600">{{ content }}</p>
						</div>
						<div
							class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 grid-flow-row"
							v-else
						>
							<div class="flex flex-col justify-center">
								Un total de {{ datat.length }} contribution{{ datat.length > 1 ? 's' : '' }} {{ datat.length > 1 ? 'ont' : 'a' }} été trouvée{{ datat.length > 1 ? 's' : '' }}.
								Elles sont rattachées à {{ datat.map(item => item.page_title).filter((value, index, self) => self.indexOf(value) === index).length }} article{{ datat.map(item => item.page_title).filter((value, index, self) => self.indexOf(value) === index).length > 1 ? 's' : '' }} distinct{{ datat.map(item => item.page_title).filter((value, index, self) => self.indexOf(value) === index).length > 1 ? 's' : '' }} et sont le fruit du travail de {{ datat.map(item => item.actor_name).filter((value, index, self) => self.indexOf(value) === index).length }} personne{{ datat.length > 1 ? 's' : '' }}.
							</div>
							<div
								v-for="(item, index) in datat"
								:key="index"
							>
								<cdx-card class="h-full shadow">
									<template #title>
										<span class="break-all">
											<a
												:href="'https://' + editionSelected + '/wiki/' + encodeURIComponent(item.page_title)"
												target="_blank"
												class="hover:underline"
											>{{ item.page_title }}</a>

										</span>
									</template>
									<template #description>
										<span
											class="break-all"
											v-html="item.comment_text"
										></span>
									</template>
									<template #supporting-text>
										Par <a
											:href="'https://' + editionSelected + '/wiki/User:' + encodeURIComponent(item.actor_name)"
											target="_blank"
											class="hover:underline"
										>{{ item.actor_name }}</a>, le <a
											:href="'https://' + editionSelected + '/w/index.php?diff=prev&oldid=' + item.rev_id"
											target="_blank"
											class="hover:underline"
										>{{ dayjs.utc(item.rev_timestamp, "YYYYMMDDHHMMSS").toDate().toLocaleString() }}</a>
									</template>
								</cdx-card>
							</div>
						</div>
					</template>

					<template v-if="tab.name === 'editors'">
						<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6 gap-4 grid-flow-row">
							<div
								class="flex flex-col pb-3"
								v-for="item in datat.map(item => item.actor_name).filter((value, index, self) => self.indexOf(value) === index)"
							>
								<dt class="break-all text-gray-500"><a
										:href="'https://' + editionSelected + '/wiki/User:' + encodeURIComponent(item)"
										target="_blank"
										class="hover:underline"
									> {{ item }}</a> </dt>
								<dd class="font-semibold">{{ datat.filter(data => data.actor_name === item).length }}</dd>
							</div>
						</div>
					</template>

					<template v-if="tab.name === 'graphs'">
						<SearchLinechartContributions :data="datat" />
						<SearchHeatmapContributions :data="datat" />
					</template>
				</cdx-tab>
			</cdx-tabs>
		</section>
	</form>
</template>

<script setup lang="ts">
import {
	CdxField,
	CdxButton,
	CdxProgressBar,
	CdxCard,
	CdxTabs,
	CdxTab

} from '@wikimedia/codex';
import { ref, computed, watch } from 'vue'
import dayjs from 'dayjs';
import utc from 'dayjs/plugin/utc.js';

dayjs.extend(utc);

const errorRequest = ref(false);
const searchElement = ref<string>('');
const searchElementStatus = ref<"error" | "default" | "warning" | "success" | undefined>("default");
const statusDateRange = ref<"error" | "default" | "warning" | "success" | undefined>("default");
const editionSelected = ref<string>();
const selectedTag = ref<string>();
const startDate = ref<string>();
const endDate = ref<string>();
const tabsData = ref([
	{
		name: 'articles',
		label: 'Articles',
		heading: 'Articles'
	},
	{
		name: 'editors',
		label: 'Contributeurs',
		heading: 'Contributeurs'
	},
	{
		name: 'graphs',
		label: 'Graphiques',
		heading: 'Graphiques'
	}
]);
const currentTab = ref('articles');

const searchButtonDisabled = computed(() => {
	return showSearchProgressBar.value || searchElementStatus.value === 'error' || !searchElement.value || !editionSelected.value || statusDateRange.value === 'error';
});

// Search process
const showSearchProgressBar = ref(false);
const content = ref("");
const fetchDone = ref(false);
const datat = ref([] as { actor_name: string; page_title: string; rev_timestamp: string, rev_id: number, comment_text: string }[]);

const handleSubmit = async (e: Event) => {
	e.preventDefault();
	showSearchProgressBar.value = true; // Show the progress bar
	fetchDone.value = false;
	errorRequest.value = false;

	try {
		const { data, pending, error, status, refresh } = await useFetch("/api/search", {
			method: "POST",
			headers: { 'Content-type': 'application/json; charset=UTF-8' },
			body: JSON.stringify({
				search: searchElement.value,
				edition: editionSelected.value,
				tag: selectedTag.value,
				startDate: startDate.value,
				endDate: endDate.value
			})
		});

		fetchDone.value = true;

		if (status.value === 'success') {
			datat.value = data.value as { actor_name: string; page_title: string; rev_timestamp: string; rev_id: number; comment_text: string }[];

			if (datat.value.length === 0) {
				content.value = "Aucun résultat n'a été trouvé";
			}
		}
		else {
			content.value = "Une erreur est survenue lors de la recherche";
		}
	} finally {
		showSearchProgressBar.value = false;
	}
};
</script>